.players_container {
  margin: 100px auto;
  min-height: 200px;
  width: 400px;
  background-image: radial-gradient(
    circle at 6.17% 50%,
    #ffffff 0,
    #ffffff 25%,
    #ffffff 50%,
    #f8f3f4 75%,
    #f1e7ea 100%
  );
  padding: 10px;
  border-radius: 10px;
  color: #133d3b;
}

.players_container h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.active_players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.active_players button {
  height: 20px;
  width: 100px;
  font-size: 12px;
  margin-top: 0px;
}

.players {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.players .wins {
  margin-top: 10px;
}

.addWin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.addWin p {
  margin-top: 10px;
}

.difference {
  margin: 15px auto;
  width: 200px;
  height: auto;
  text-align: center;
  border: 1px solid #133d3b;
  padding: 5px;
}

.current_winner {
  margin: 15px auto;
  width: 300px;
  height: auto;
  text-align: center;
  padding: 5px;
}
